
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita em toda a base de dados para a fase de desenvolvimento.
    // Lembre-se de configurar regras mais seguras antes de ir para produção.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
