rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /branches/{branchId} {
      allow read, write: if true;
    }
    match /instructors/{instructorId} {
      allow read, write: if true;
    }
    match /termsAcceptances/{termsId} {
      allow read, write: if true;
    }
  }
}
