rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra aberta para desenvolvimento. Permite leitura e escrita em toda a base de dados.
    // ATENÇÃO: Esta regra não é segura para produção.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
